@AttributeUpdate
permit(
  principal is Jans::Workload,
  action in [Jans::Action::"PUT"],
  resource == Jans::HTTP_Request::"/jans-config-api/api/v1/attributes"
)
when {
  principal has access_token.scope &&
  principal.access_token.scope.containsAny(["https://jans.io/oauth/config/attributes.write","https://jans.io/oauth/config/write-all"])
};